/* styles.css */
/* styles.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  button:hover {
    background-color: #e64646;
  }
  
  input {
    padding: 8px;
    margin-right: 8px;
  }
  
  /* Add Task Form Styles */
  .add-task-form {
    margin-top: 20px;
  }
  
  .add-task-form input {
    width: calc(100% - 16px);
    margin-bottom: 10px;
  }
  
  .add-task-form button {
    width: 100%;
    background-color: #4caf50;
  }
  
  .add-task-form button:hover {
    background-color: #45a049;
  }
  